{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Spiderman</h1>
<p>alsñfdslñf asdñlf aslñf aslñfjsadfghdfh dfgh dfgh dfgh dfgh dfgh dfhg df hdfgh lñfdja j hlñ dfglñj dgj </p>
    </div>
    <div class="col-4">

<img src="/assets/img/spiderman.jpg" class="img-thumbnail">

    </div>

</div>

{{> footer}}